header, footer {
    height: 100px;
}
header {
    background-color: #44b14f;
    border: 2px solid;
}
main {
    height: 900px;
    background-image: url("../img/bg.jpg");
    background-attachment: scroll;
    background-repeat: repeat-y;
    border: 2px dotted;
}
footer {
    background-color: #b15f1b;
    border: 6px double;
}